body {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
  margin: 0;
}

.header {
  background-color: khaki;
  height: 150px;
  width: 100%;
  border: 3px solid #ad1e21;
  line-height: 150px;
  position: absolute;
  top: 0%;
  left: 0%;
  box-sizing: border-box;
}

.menu {
  background-color: khaki;
  height: 100px;
  width: 100%;
  border: 3px solid #ad1e21;
  line-height: 100px;
  position: absolute;
  top: 147px;
  left: 0px;
  box-sizing: border-box;
}

.content {
  background-color: khaki;
  height: 800px;
  width: calc(100% - 197px);
  border: 3px solid #ad1e21;
  line-height: 120px;
  position: absolute;
  top: 244px;
  left: 0px;
  box-sizing: border-box;
}

.additional_information {
  background-color: khaki;
  height: 400px;
  width: 200px;
  border: 3px solid #ad1e21;
  line-height: 120px;
  position: absolute;
  top: 244px;
  right: 0px;
  box-sizing: border-box;
}

.footer {
  background-color: khaki;
  height: 100px;
  width: 100%;
  border: 3px solid #ad1e21;
  line-height: 120px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  box-sizing: border-box;
}
