body {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
  margin: 0;
}

.header {
  display: none;
}

.menu {
  display: none;
}

.additional_information {
  display: none;
}

.footer {
  display: none;
}

.content {
  background-color: khaki;
  height: 100%;
  width: 100%;
  border: 3px solid #ad1e21;
  line-height: 120px;
  box-sizing: border-box;
}
