body {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 0;
}

header {
  background-color: khaki;
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
  border: 3px solid #ad1e21;
  box-sizing: border-box;
}

h1 {
  height: 100px;
  width: 250px;
  background: url(./resources/logo.png);
  background-size: 250px;
  font-size: 0;
  margin-top: 25px;
}

ul {
  margin-top: 40px;
  width: 360px;
  padding: 0px;
}

ul li {
  display: inline;
  margin-right: 30px;
}

.centerHeader {
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: khaki;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  width: 100%;
  border: 3px solid #ad1e21;
  box-sizing: border-box;
}

.main_part {
  display: flex;
  flex-direction: column;
}

main {
  background-color: khaki;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  height: 100%;
  width: 100%;
  border: 3px solid #ad1e21;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  border: 3px solid #ad1e21;
  width: calc(400px);
  margin-left: auto;
  margin-right: auto;
}

aside {
  background-color: khaki;
  display: flex;
  height: 20%;
  width: 100%;
  border: 3px solid #ad1e21;
  line-height: 120px;
  box-sizing: border-box;
}

footer {
  background-color: khaki;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  border: 3px solid #ad1e21;
  line-height: 120px;
  box-sizing: border-box;
}
